spring:
  application:
    name: product-server
---
spring:
  profiles: product1
server:
  port: 8001
eureka:
  client:
    service-url:
      #设置连接的eureka服务地址
      defaultZone: http://eureka1:9000/eureka,http://eureka2:9001/eureka
  instance:
    #设置链结后的id显示信息为 ip:服务名称:端口号
    instance-id: ${spring.cloud.client.ip-address}:${spring.application.name}:${server.port}
    lease-expiration-duration-in-seconds: 10 #eureka client发送心跳给server端后，续 约到期时间（默认90秒）
    lease-renewal-interval-in-seconds: 5 #发送心跳续约间隔
    #设置显示 实例id的ip信息
    prefer-ip-address: true
---
spring:
  profiles: product2
server:
  port: 8003
eureka:
  client:
    service-url:
      #设置连接的eureka服务地址
      defaultZone: http://eureka1:9000/eureka,http://eureka2:9001/eureka
  instance:
    #设置链结后的id显示信息为 ip:服务名称:端口号
    instance-id: ${spring.cloud.client.ip-address}:${spring.application.name}:${server.port}
    lease-expiration-duration-in-seconds: 10 #eureka client发送心跳给server端后，续 约到期时间（默认90秒）
    lease-renewal-interval-in-seconds: 5 #发送心跳续约间隔
    #设置显示 实例id的ip信息
    prefer-ip-address: true
